@function get-vw($size, $width){
    $vw-context: $width * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
    @return $size;
  }


.filterbar{
   width: get-vw(751px,1366);
   height: get-vw(80px,1366);
   margin-top: get-vw(14px,1366);
   margin-left: get-vw(70px,1366);
   background-color: #eee;
   display: flex;
    .selectcontainer{
        width: get-vw(703px,1366);
        height: get-vw(40px,1366);
        display: flex;
        justify-content: space-between;
        margin-left: get-vw(24px,1366);
        margin-top: get-vw(20px,1366);
        border: 1px solid red($color: #000000);
        .autorefreshtopic,.orderbytopic,.languagetopic{
            width: get-vw(172px,1366);
            height: get-vw(40px,1366);
            background-color: #fff;
            display: flex;
            position: relative;
            cursor: pointer;
             .selectOpen{
                position:absolute;
                width: get-vw(172px,1366);
                height: get-vw(170px,1366);
                top:get-vw(45px,1360);
                background-color: #fff;
                display: flex;
                flex-direction: column;
                .checketcoll{
                    display: flex;
                    margin-top: get-vw(5px,1366);
                    margin-left: get-vw(10px,1366);
                     input{
                        width: get-vw(13px,1366);
                        height: get-vw(13px,1366);
                        margin-top: 5px;
                     }
                     p{
                     font-family: Lato;
                    font-size: get-vw(13px, 1366);
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.6;
                    letter-spacing: 0.5px;
                    color: #666;
                    margin-top: get-vw(2px,1366);
                    margin-left: get-vw(20px,1366 );
                     }
                }
             } 





            img{
                width: get-vw(11px,1366);
                height: get-vw(13px,1366);
                object-fit: contain;
                margin-top: get-vw(10px,1366 );
            }
            .selectetlable{
                width: get-vw(151px,1366);
                display: flex;
                flex-direction: column;
                h2{
                    font-family: Lato;
                    font-size: get-vw(13px,1366 );
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #292929;
                    margin-top: get-vw(5px,1366);
                    margin-left: get-vw(10px,1366);

                }
                p{
                    font-family: Lato;
                    font-size: get-vw(10px, 1366);
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.6;
                    letter-spacing: 0.5px;
                    color: #666;
                    text-transform: uppercase;
                    margin-top: get-vw(2px,1366);
                    margin-left: get-vw(10px,1366 );
                }
            }
           }
           .refreshtopic{
            width: get-vw(172px,1366);
            height: get-vw(40px,1366);
            border-radius: 3px;
            background-color: #3971c1;
            font-family: Lato;
            font-size: get-vw(12px,1366);
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: #fff;
            cursor: pointer;
            border: none;
           }
    }

   
}